<h1>My homepage</h1>
<body>
<div id ="image frame"> <%= image_tag "pic.jpg" %> </div>
<div id="div1">
Name :<strong>Manuraj L R</strong></br>
Place :<strong>Cochin </strong></body></br>
DOB :<strong>18-09-1993</strong></body></br></br>
<%= link_to "My Qualification" , user_qualification_path %>
</div>
</body>
